.header {
    @include Grid(1fr 2fr , 1fr);

    @media (max-width: 878px){
        @include Grid(1fr 3fr , 1fr);
        .header-list-options{
            margin: 1rem;
        }
    }
    @media (max-width: 610px){
        @include Grid(1fr 4fr , 1fr);
        .header-list-options{
            margin: 0.5rem;
        }
    }
    @media (max-width: 535px){
        @include Flex(center , center);
        .header-logo-container{
            display: none
        }
        .header-list-options{
            margin: 1rem;
        }
    }

    &-logo-container {
        @include Flex(center , center);

        .header-logo {
            @include Flex(center , center);
        }
    }
    .header-list-options {
        transition: all 0.3s ease-out;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            height: 2px;
            width: 0;
            #{$bc}: white;
            transition: all 0.3s ease-out;
        }
        &:hover::after{
            width: 100%;
        }
    }
}

.selected {
    &::after {
        width: 100% !important;
    }
}