.header {
    @include Grid(1fr 3fr , 1fr);

    @media (max-width: 878px){
        @include Grid(1fr 3fr , 1fr);
        .header-list-options{
            margin: 1rem;
        }
    }
    @media (max-width: 610px){
        @include Grid(1fr 4fr , 1fr);
        .header-list-options{
            margin: 0.5rem;
        }
    }
    @media (max-width: 535px){
        @include Flex(center , center);
        .header-list{
            display: none;
        }
    }

    &-logo-container {
        @include Flex(center , center);

        .header-logo {
            @include Flex(center , center);
        }
    }
    .header-list-options {
        transition: all 0.3s ease-out;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            height: 2px;
            width: 0;
            #{$bc}: white;
            transition: all 0.3s ease-out;
        }
        &:hover::after{
            width: 100%;
        }
    }

    .li-signin{
        padding-left: 10px;
        border-left: solid 2px white;
    }
}

.selected {
    &::after {
        width: 100% !important;
    }
}

.flexible-menu{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    #{$bc}: #6D28D9;
}

.flexible-menu-button{
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    #{$bc}: rgb(104, 104, 104);
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    @media (max-width: 535px){
        display: flex;
    }
}