@use "utils.module" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "header";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nprogress .bar {
  background: #fff !important;
}

.btn-signin-meetup{
  border: solid 2px white;
  &:hover{
    border: solid 2px black;
    #{$bc}: white;
    color: black;
  }
}

.backlink-container{
  button{
    border-bottom: solid 3px #6D28D9;
    color: #6D28D9;
    &:hover{
      letter-spacing: 2px;
    }
  }
}